.nav {
  --navPadding: calc(var(--padding) * 0.45);

  position: fixed;
  top: 0;
  left: 0;
  width: var(--navWidth);
  height: 100%;
  padding: var(--navPadding);

  background: var(--navBG);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  img {
    max-width: 100%;
    object-fit: cover;
    transition: all 100ms ease;

    &:hover {
      scale: 1.05;
      opacity: 0.7;
    }
  }

  ul {
    color: var(--link);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: calc(1.5 * var(--navPadding));
    flex-direction: column;

    li {
      transition: all ease 200ms;
      min-width: min-content;
      cursor: pointer;
      font-size: clamp(0.7rem, 2vw, 1rem);
      &:hover {
        color: var(--activeLink);
        scale: 1.1;
      }
    }

    .active {
      color: var(--activeLink);
    }
  }
}

@media only screen and (max-width: 700px) {
  .nav {
    --navPadding: calc(var(--padding) * 0.25);

    top: 0;
    left: 0;
    width: 100%;
    height: var(--navWidth);
    //padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    z-index: 99;

    overflow: hidden;

    img {
      max-height: 100%;
      object-fit: cover;
      transition: all 100ms ease;

      &:hover {
        scale: 1.05;
        opacity: 0.7;
      }
    }

    ul {
      flex-direction: row;
    }
  }
}
